html * {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
}

#container {
  width: 90%;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}

#bar{
  height: 15px;
  width: 100%;
  background: linear-gradient(to right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
}

#nav_menu {
  margin-top: 50px;
}

.navis {
  text-decoration: none;
  color: black;
  width: 90%;
  top: 70px;
  position: fixed;
  justify-content: space-between;
  font-size: 15px;
}

#nav1 {
  text-align: left;
}

#nav2 {
  text-align: center;
}

#nav3 {
  text-align: right;
}

#main_box {
  margin-top: 200px;
}

#fullstack {
  margin-right: 30px;
  float: right;
  width: 30%;
  height: 45%;
}

#typing {
  margin-left: 60px;
  text-align: left;
  display: inline;
}

#typewrite {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

#smp{
  font-size: 15px;
}

#footer {
  margin-top: 80px;
  margin-bottom: 30px;
}
